PORT=3030

# TELEGRAM
TELEGRAM_BOT_TOKEN=*********
TELEGRAM_BOT_CHAT_ID=*********

# GOOGLE PRODUCTS
GOOGLE_SPREADSHEET_ID=*********
GOOGLE_SERVICE_ACCOUNT_EMAIL=*********
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=*********
