PORT=3030

# DATABASE MONGO DB
DB_USER_MONGO=********
DB_KEY_MONGO=********
DB_HOST_MONGO=********
DB_CONTAINER_NAME_MONGO=bds-caserita-nosql-dev
DB_COLLECTION_NAME_MONGO=bdscaseritadev

# PROXYES
DATTEBAYO_CLIENT_BASE_URL=https://dattebayo-api.onrender.com
